<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Carta FireStation</title>
	</head>
	<body class="bg-gray-900 text-gray-800 flex justify-center items-center w-screen h-screen">
		<div class="sm:w-[400px] sm:h-[90%] w-full h-full bg-slate-100 sm:rounded-3xl overflow-hidden">
			<slot />
		</div>
		<script src="/script.js" defer></script>
	</body>
</html>
